.App {
  text-align: center;
  max-width: 30rem;
  margin: 4rem auto;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.mr-1 {
  margin-right: 5px;
}

.ml-2 {
  margin-left: 5px;
  margin-top: 5px;
}
.label {
  margin-bottom: 10px;
}
